#####################################################
#
# List of approvers for splunk-platform-apps Splunk-Platform-Apps-Docker repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @splunk-platform-apps/admins
